.forgot-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('../../../../frontend/public/images/background.jpg');
  background-size: cover;
  background-position: center;
}

.forgot-password {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.forgot-password__title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.forgot-password__input-group {
  margin-bottom: 15px;
}

.forgot-password__label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.forgot-password__input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.forgot-password__btn {
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  border: none;
  color: white;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.forgot-password__btn:hover {
  background-color: #0056b3;
}
